In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

%matplotlib inline
sns.set_style("white")

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/Thinkful-Ed/data-201-resources/master/ESS_practice_data/ESSdata_Thinkful.csv')

In [3]:
df.head()

,cntry,idno,year,tvtot,ppltrst,pplfair,pplhlp,happy,sclmeet,sclact,gndr,agea,partner
0,CH,5.0,6,3.0,3.0,10.0,5.0,8.0,5.0,4.0,2.0,60.0,1.0
1,CH,25.0,6,6.0,5.0,7.0,5.0,9.0,3.0,2.0,2.0,59.0,1.0
2,CH,26.0,6,1.0,8.0,8.0,8.0,7.0,6.0,3.0,1.0,24.0,2.0
3,CH,28.0,6,4.0,6.0,6.0,7.0,10.0,6.0,2.0,2.0,64.0,1.0
4,CH,29.0,6,5.0,6.0,7.0,5.0,8.0,7.0,2.0,2.0,55.0,1.0

In [4]:
df.cntry.unique()

array(['CH', 'CZ', 'DE', 'ES', 'NO', 'SE'], dtype=object)

In [5]:
df.groupby(['cntry', 'year'])['ppltrst'].mean()

cntry  year
CH     6       5.677878
       7       5.751617
CZ     6       4.362519
       7       4.424658
DE     6       5.214286
       7       5.357143
ES     6       5.114592
       7       4.895128
NO     6       6.649315
       7       6.598630
SE     6       6.058499
       7       6.257709
Name: ppltrst, dtype: float64

**The countries from this sample generally found people became more trusting from 2012 to 2014, with the exception of 2 countries, ES (Spain) and NO (Norway).**

In [6]:
df.groupby(['cntry', 'year'])['happy'].mean()

cntry  year
CH     6       8.088312
       7       8.116429
CZ     6       6.770898
       7       6.914110
DE     6       7.428571
       7       7.857143
ES     6       7.548680
       7       7.419967
NO     6       8.251719
       7       7.915185
SE     6       7.907387
       7       7.946961
Name: happy, dtype: float64

**The countries generally found people became happier from 2012 - 2014, with the exception of ES and NO.**

In [16]:
df.groupby(['year', 'gndr'])['tvtot'].mean()

year  gndr
6     1.0     3.901906
      2.0     3.944393
7     1.0     3.749653
      2.0     3.840395
Name: tvtot, dtype: float64

**Women watched more tv than men in 2012.**

In [8]:
df.groupby(['year', 'partner'])['pplfair'].sum()

year  partner
6     1.0        16193.0
      2.0         9418.0
7     1.0        15697.0
      2.0         9971.0
Name: pplfair, dtype: float64

**In 2012, partnered people were more likely to believe people were fair.**

In [14]:
df.groupby(['cntry', 'year'])['sclmeet'].mean()

cntry  year
CH     6       5.080519
       7       5.160622
CZ     6       4.648855
       7       4.445802
DE     6       5.000000
       7       4.428571
ES     6       5.228737
       7       5.260116
NO     6       5.530780
       7       5.302326
SE     6       5.528115
       7       5.426211
Name: sclmeet, dtype: float64

**Almost all of the countries participants took part socially at least once/week to several times/month.  CZ (Czech Republic) and DE (Germany) both decreased in the amount of social activity of the participants.**

In [15]:
df.groupby(['cntry', 'year'])['sclact'].mean()

cntry  year
CH     6       2.704724
       7       2.781699
CZ     6       2.613354
       7       2.703077
DE     6       2.857143
       7       2.714286
ES     6       2.560266
       7       2.616878
NO     6       2.965565
       7       2.859097
SE     6       2.917960
       7       2.879425
Name: sclact, dtype: float64

**The participants in all countries estimated they take part in social activities less than most.**

In [12]:
stats.ttest_ind(df[df.year == 6].happy,
                df[df.year == 7].happy)

Ttest_indResult(statistic=nan, pvalue=nan)

In [63]:
gb = df.groupby(['cntry', 'year'])

In [64]:
gb.median()

                  idno  tvtot  ppltrst  pplfair  pplhlp  happy  sclmeet  \
cntry year
CH    6         1432.0    3.0      6.0      7.0     6.0    8.0      5.0
      7         1432.0    3.0      6.0      7.0     6.0    8.0      6.0
CZ    6         1333.5    6.0      4.0      5.0     4.0    7.0      5.0
      7         1333.5    5.0      5.0      5.0     5.0    7.0      4.0
DE    6     11000271.0    5.5      5.0      6.0     5.0    8.0      5.0
      7     11000271.0    3.0      5.5      7.0     5.5    8.0      4.0
ES    6         1456.0    4.0      5.0      5.0     5.0    8.0      6.0
      7         1456.0    4.0      5.0      5.0     5.0    8.0      6.0
NO    6        14346.0    4.0      7.0      7.0     6.0    8.0      6.0
      7        14346.0    4.0      7.0      7.0     6.0    8.0      6.0
SE    6         1585.0    4.0      7.0      7.0     6.0    8.0      6.0
      7         1585.0    4.0      7.0      7.0     6.0    8.0      6.0

            sclact  gndr  agea  partner
cntry year
CH    6        3.0   2.0  47.0      1.0
      7        3.0   2.0  45.0      1.0
CZ    6        3.0   2.0  47.0      1.0
      7        3.0   2.0  45.0      1.0
DE    6        3.0   2.0  54.0      1.0
      7        3.0   2.0  56.5      1.0
ES    6        3.0   2.0  46.0      1.0
      7        3.0   1.0  47.0      1.0
NO    6        3.0   1.0  46.0      1.0
      7        3.0   1.0  47.0      1.0
SE    6        3.0   1.0  50.0      1.0
      7        3.0   1.0  51.0      1.0

In [65]:
gb['pplfair'].mean()

cntry  year
CH     6       6.350649
       7       6.219922
CZ     6       4.959938
       7       4.904255
DE     6       5.692308
       7       6.714286
ES     6       5.354253
       7       5.340284
NO     6       6.927298
       7       6.861454
SE     6       6.559116
       7       6.836464
Name: pplfair, dtype: float64